{% feed_meta %}
{% seo %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-config" content="{{ '/assets/ieconfig.xml' | relative_url }}">
<meta name="google-site-verification" content="vaHfBtNF19BYEIpHn505BzxJ8a6lWlV6JO2GOdqptfY" />
